.newRecipe {
  padding: 1em;
  .background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
  }
  .stepIndicatorsContainer {
    margin-top: 0.5em;
    margin-bottom: 3em;
    display: flex;
    justify-content: space-between;
    position: relative;
    &::before {
      content: '';
      border-top: 1px solid #999;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin-top: -1px;
    }
    .stepIndicator {
      position: relative;
      background-color: #eee;
      color: #666;
      width: 1.7em;
      height: 1.7em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999em;
      border: 1px solid #999;
      font-size: 1.2em;
      &.currentStepIndicator {
        background-color: #F25F3D;
        color: #fff;
        font-weight: 600;
      }
    }
  }
  .stepsContainer {
    position: relative;
    .step {
      h3 {
        font-size: 1.1em;
        color: #666;
        margin-bottom: 0.6em;
        line-height: 1.5;
      }
      .example {
        margin-bottom: 2.5em;
        button {
          padding: 0;
          border: none;
          background-color: transparent;
          font-size: 0.95em;
          color: #4B99FF;
          text-decoration: underline;
        }
      }
      .buttonsContainer {
        display: flex;
        button {
          display: block;
          padding: 0.4em 1.6em;
          font-size: 1.2em;
          background-color: #4383c5;
          border: none;
          color: #fff;
          &.back {
            background-color: #b9b9b9;
          }
        }
      }
    }
    .step1 {
      .example {
        margin-bottom: 4em;
      }
      .recipeName {
        display: block;
        width: 100%;
        font-size: 1.2em;
        padding: 0.4em;
        border: 1px solid #999;
        color: #666;
        margin-bottom: 4em;
      }
      .buttonsContainer {
        justify-content: center;
      }
    }
    .step2 {
      .recipeSummary {
        display: block;
        width: 100%;
        max-width: 100%;
        font-size: 0.95em;
        padding: 0.4em;
        border: 1px solid #999;
        color: #666;
        margin-bottom: 3em;
      }
      .buttonsContainer {
        justify-content: space-between;
      }
    }
    .step3 {
      .recipeStepsContainer {
        list-style: none;
        margin: 0 0 2.5em;
        padding: 0;
        background-color: #fff;
        color: #666;
        .recipeStepContainer {
          border-left: 3px solid #ccc;
          padding: 0.5em 1em;
          margin-bottom: 1.5em;
          h4 {
            margin: 0 0 1.5em;
            font-size: 1em;
            padding-bottom: 0.5em;
            border-bottom: 1px solid #999;
            .removeStep {
              padding: 0;
              background-color: transparent;
              border: none;
              color: #DD6B55;
              float: right;
              font-size: 0.85em;
              position: relative;
              top: 0.15em;
            }
          }
          .inputIngredientsContainer, .methodContainer, .outputIngredientsContainer {
            label {
              display: block;
              font-size: 1em;
              margin-bottom: 0.4em;
              line-height: 1.4;
            }
          }
          .inputIngredientsContainer {
            margin-bottom: 1.5em;
            .inputIngredientsList {
              list-style: none;
              padding: 0;
              margin: -0.4em -0.4em 1.1em;
              display: flex;
              flex-wrap: wrap;
              .inputIngredientContainer {
                margin: 0.4em;
                .addInputIngredient {
                  display: inline-block;
                  width: 5em;
                  height: 5em;
                  background-color: #fff;
                  border: 1px solid #999;
                  color: #666;
                  font-size: 1em;
                  span {
                    font-size: 3.6em;
                  }
                }
                .removeInputIngredient {
                  width: 100%;
                  color: #DD6B55;
                  background-color: #fff;
                  font-size: 0.7em;
                  border: none;
                  padding: 0.3em 0;
                  display: block;
                  border: 1px solid #999;
                  border-top: none;
                }
              }
            }
          }
          .methodContainer {
            margin-bottom: 1.5em;
            .method {
              display: block;
              width: 100%;
              font-size: 1em;
              padding: 0.4em;
            }
          }
          .outputIngredientsContainer {
            .outputIngredientsList {
              list-style: none;
              padding: 0;
              margin: -0.4em -0.4em;
              display: flex;
              flex-wrap: wrap;
              .outputIngredientContainer {
                margin: 0.4em;
                .addOutputIngredient {
                  display: inline-block;
                  width: 5em;
                  height: 5em;
                  background-color: #fff;
                  border: 1px solid #999;
                  color: #666;
                  font-size: 1em;
                  span {
                    font-size: 3.6em;
                  }
                }
                .removeOutputIngredient {
                  width: 100%;
                  color: #DD6B55;
                  background-color: #fff;
                  font-size: 0.7em;
                  border: none;
                  padding: 0.3em 0;
                  display: block;
                  border: 1px solid #999;
                  border-top: none;
                }
              }
            }
          }
        }
        .addStepContainer {
          display: flex;
          justify-content: center;
          .addStep {
            display: block;
            padding: 0.4em 1.6em;
            font-size: 1.2em;
            background-color: #4383c5;
            border: none;
            color: #fff;
          }
        }
      }
      .buttonsContainer {
        justify-content: space-between;
        .done {
          background-color: #40AD48;
        }
      }
    }
  }
}
