.newRecipe {
  padding: 1em;
  .background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #edeaff;
  }
  .stepIndicatorsContainer {
    $outline-color: #333;
    $selected-color: #ec3434;
    $unselected-color: #eee;
    margin-top: 0.5em;
    margin-bottom: 3em;
    display: flex;
    justify-content: space-between;
    position: relative;
    &::before {
      content: '';
      border-top: 1px solid $outline-color;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin-top: -1px;
    }
    .stepIndicator {
      position: relative;
      background-color: $unselected-color;
      color: $outline-color;
      width: 1.7em;
      height: 1.7em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999em;
      border: 1px solid $outline-color;
      font-size: 1.2em;
      &.currentStepIndicator {
        background-color: $selected-color;
        color: #fff;
        font-weight: 600;
      }
    }
  }
  .stepsContainer {
    position: relative;
    .step {
      h3 {
        font-size: 1.1em;
        color: #333;
        margin-bottom: 0.6em;
        line-height: 1.5;
      }
      .example {
        margin-bottom: 2.5em;
        button {
          padding: 0;
          border: none;
          background-color: transparent;
          font-size: 0.95em;
          color: #134bb6;
          text-decoration: underline;
        }
      }
      .buttonsContainer {
        display: flex;
        button {
          display: block;
          padding: 0.4em 1.6em;
          font-size: 1.2em;
          background-color: #4383c5;
          border: none;
          color: #fff;
        }
      }
    }
    .step1 {
      .example {
        margin-bottom: 4em;
      }
      .recipeName {
        display: block;
        width: 100%;
        font-size: 1.2em;
        padding: 0.4em;
        border: 1px solid #666;
        color: #000;
        margin-bottom: 4em;
      }
      .buttonsContainer {
        justify-content: center;
      }
    }
    .step2 {
      .recipeSummary {
        display: block;
        width: 100%;
        max-width: 100%;
        font-size: 0.95em;
        padding: 0.4em;
        border: 1px solid #666;
        color: #000;
        margin-bottom: 3em;
      }
      .buttonsContainer {
        justify-content: space-between;
      }
    }
    .step3 {
      .recipeStepsContainer {
        list-style: none;
        margin: 0 0 2.5em;
        padding: 1em;
        background-color: #fff;
        color: #333;
        h4 {
          margin: 0 0 1.5em;
          font-size: 1em;
          padding-bottom: 0.5em;
          border-bottom: 1px solid #666;
        }
        .inputIngredientsContainer, .methodContainer, .outputIngredientsContainer {
          label {
            display: block;
            font-size: 0.9em;
            margin-bottom:0.8em;
            line-height: 1.4;
          }
        }
        .inputIngredientsContainer {
          margin-bottom: 1.5em;
          .inputIngredientsList {
            list-style: none;
            margin: 0;
            padding: 0;
            .inputIngredientContainer {
              display: flex;
              .addInputIngredient {
                display: inline-block;
                width: 5em;
                height: 5em;
                background-color: #fff;
                border: 1px solid #666;
                color: #333;
                span {
                  font-size: 3.6em;
                }
              }
            }
          }
        }
        .methodContainer {
          margin-bottom: 1.5em;
          .method {
            display: block;
            width: 100%;
            font-size: 1em;
            padding: 0.4em;
          }
        }
        .outputIngredientsContainer {
          .outputIngredientsList {
            list-style: none;
            margin: 0;
            padding: 0;
            .outputIngredientContainer {
              display: flex;
              .addOutputIngredient {
                display: inline-block;
                width: 5em;
                height: 5em;
                background-color: #fff;
                border: 1px solid #666;
                color: #333;
                span {
                  font-size: 3.6em;
                }
              }
            }
          }
        }
      }
      .buttonsContainer {
        justify-content: space-between;
        .done {
          background-color: #23af2d;
        }
      }
    }
  }
}
